fastapi
uvicorn[standard]
transformers
torch
pandas
python-multipart
wordcloud
matplotlib
huggingface_hub
scipy
numpy
streamlit
requests
plotly
pillow
psutil
httpx
scikit-learn
accelerate
python-dotenv
slowapi